# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Datos: ignorar contenido, pero conservar estructura
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/final/*
!data/final/.gitkeep

# Temporales
*.log
*.tmp
*.part
